# Node env type
NUXT_NODE_ENV="dev"

# Client
NUXT_CLIENT_PORT="5173"
NUXT_CLIENT_URL="localhost"
NUXT_CLIENT_PROTOCOL="http"

# Server
NUXT_SERVER_PORT="3000"
NUXT_SERVER_URL="localhost"
NUXT_SERVER_PROTOCOL="http"

# Database
NUXT_DB_USER="admin"
NUXT_DB_PASSWORD="admin"
NUXT_DB_HOST="localhost"
NUXT_DB_PORT="5432"
NUXT_DB_NAME="wad-dev"

# Auth
NUXT_COOKIE_SECRET="some_str"
NUXT_SESSION_PASSWORD="password-with-at-least-32-characters"

# SMTP
NUXT_NODEMAILER_AUTH_USER="some_str"
NUXT_NODEMAILER_AUTH_PASS="some_str"
