# Node env type
NODE_ENV="dev"

# Client
CLIENT_PORT="5173"
CLIENT_URL="localhost"
CLIENT_PROTOCOL="http"

# Server
SERVER_PORT="3000"
SERVER_URL="localhost"
SERVER_PROTOCOL="http"

# Database
DB_USER="admin"
DB_PASSWORD="admin"
DB_HOST="localhost"
DB_PORT="5432"
DB_NAME="wad-dev"

# Auth
COOKIE_SECRET="some_str"

# SMTP
SMTP_USER="some_str"
SMTP_PASSWORD="some_str"
